
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mahdi gharbi- CV</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        header {
            text-align: center;
        }

        h1, h2 {
            color: #333;
        }

        section {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .education, .experience {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

    <header>
        <h1>mahdi gharbi</h1>
        <p>Etudiant</p>
    </header>
    <table > 
        <tr>
          <td><img src="maf.jpg" width="150px" height="150px"></td>
        </tr>
</table>        
    <section class="education">
        <h2>Éducation</h2>
        <ul>
            <li><strong> Informatique</strong> - ESPRIT : Ecole sup Privee d'ingenierie et de technologie </li>
            
        </ul>
    </section>