body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

h3 {
    color: #333; /* Change color as needed */
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Change background color as needed */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}